

<launch>

    <arg name="v_id" default="2000"/>   
        <arg name="fcu_url" default="udp://localhost:14540@" />
	<arg name="gcs_url" default=""/>
	<arg name="tgt_system" default="1"/>
	<arg name="tgt_component" default="1" />
	<arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
	<arg name="config_yaml" default="$(find mavros)/launch/apm_config.yaml" />
	<arg name="log_output" default="screen" />

    <group ns="V$(arg v_id)">

        <node pkg="vehicle" type="backup_control_node" name="backup_control" respawn="true"/>

   <!--     <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true">
            <param name="video_device" value="/dev/video0" />
            <param name="image_width" value="640" />
            <param name="image_height" value="480" />
            <param name="pixel_format" value="yuyv" />
            <param name="camera_frame_id" value="usb_cam" />
            <param name="io_method" value="mmap"/>

            <remap from="usb_cam/image_raw" to="stereo_cam/left/image_rect"/>
        </node>

-->
        <node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="$(arg log_output)">
            <param name="fcu_url" value="$(arg fcu_url)" />
            <param name="gcs_url" value="$(arg gcs_url)" />
            <param name="target_system_id" value="$(arg tgt_system)" />
            <param name="target_component_id" value="$(arg tgt_component)" />

            <!-- load blacklist, config -->
            <rosparam command="load" file="$(arg pluginlists_yaml)" />
            <rosparam command="load" file="$(arg config_yaml)" />
        </node>

    </group>

</launch>
