<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="$(arg log_output)">
            <param name="fcu_url" value="$(arg fcu_url)" />
            <param name="gcs_url" value="$(arg gcs_url)" />
            <param name="target_system_id" value="$(arg tgt_system)" />
            <param name="target_component_id" value="$(arg tgt_component)" />

            <!-- load blacklist, config -->
            <rosparam command="load" file="$(arg pluginlists_yaml)" />
            <rosparam command="load" file="$(arg config_yaml)" />
    </node>

</launch>
