<library path="lib/librqt_mission">
  <class name="rqt_mission/MyPlugin" type="rqt_mission::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
   Mission
    </description>
    <qtgui>
      <group>
        <label>UAV</label>
        <icon type="theme">folder</icon>
        <statustip>UAV'S FOLDER</statustip>
      </group>
      <label>Mission</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>UAV'S mission</statustip>
    </qtgui>
  </class>
</library>
