<library path="lib/librqt_question">
  <class name="rqt_question/MyPlugin" type="rqt_question::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      UAV
    </description>
    <qtgui>
      <group>
        <label>UAV</label>
        <icon type="theme">folder</icon>
        <statustip>UAV TOOLS</statustip>
      </group>
      <label>Question</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>UAV will display its question here</statustip>
    </qtgui>
  </class>
</library>
