  <launch>
  <!------------------- Define the Machines in the System -------------------->
  <machine name="Quad1" address="Quad1" user="ubuntu" password="ubuntu"/>
  <machine name="Quad2" address="Quad2" user="ubuntu" password="ubuntu"/>

  <!------------- Launch mavros and stereo camera on the Jetson -------------->
  <!------------------------------- UAV 1 ------------------------------------>
  <group ns="UAV1" machine="Quad1">
    <include file="$(find rqt_gcs)/launch/jetson.launch">
      	<arg name="target_system" value="1" />
    </include>
  </group>
  <!------------------------------- UAV 2 ------------------------------------>
  <group ns="UAV2" machine="Quad2">
    <include file="$(find rqt_gcs)/launch/jetson.launch">
      	<arg name="target_system" value="2" />
    </include>
  </group>

  <!---------- Launch Object Detection on the Ground Control Station ---------->
  <group ns="UAV1">
    <include file="$(find machine_vision)/launch/object_detection.launch" />
  </group>
  <group ns="UAV2">
    <include file="$(find machine_vision)/launch/object_detection.launch" />
  </group>
</launch>
