<library path="lib/librqt_gcs">
  <class name="rqt_gcs/SimpleGCS" type="rqt_gcs::SimpleGCS" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Ground Control Station Plugin for the LCAR Bot project.
    </description>
    <qtgui>
      <group>
        <label>LCAR Bot</label>
        <icon type="theme">folder</icon>
        <statustip>Learning, Classifying, And Recognizing Bot Project Plugins.</statustip>
      </group>
      <label>LCAR Bot GCS</label>
      <icon type="theme">computer</icon>
      <statustip>LCAR Ground Control Station Plugin</statustip>


    </qtgui>
    <property name="setStyleSheet">
      <string>QFrame {
        background-color: #45629a;
      }
    </string>
    </property>
  </class>
</library>
