<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for APM based FCU's -->

	<include file="$(find rqt_gcs)/launch/node_apm.launch">
		<arg name="fcu_url" value="udp://localhost:14580@" />
		<arg name="tgt_system" value="1" />
		<arg name="namespace" value="V2000" />
	</include>

	<include file="$(find rqt_gcs)/launch/node_apm.launch">
		<arg name="fcu_url" value="udp://localhost:14590@" />
		<arg name="tgt_system" value="1" />
		<arg name="namespace" value="V2001" />
	</include>

	<include file="$(find rqt_gcs)/launch/node_apm.launch">
		<arg name="fcu_url" value="udp://localhost:15110@" />
		<arg name="tgt_system" value="1" />
		<arg name="namespace" value="V2003" />
	</include>

	<include file="$(find rqt_gcs)/launch/node_apm.launch">
		<arg name="fcu_url" value="udp://localhost:15120@" />
		<arg name="tgt_system" value="1" />
		<arg name="namespace" value="UAV2004" />
	</include>

	<include file="$(find rqt_gcs)/launch/node_apm.launch">
		<arg name="fcu_url" value="udp://localhost:15130@" />
		<arg name="tgt_system" value="1" />
		<arg name="namespace" value="UAV2005" />
	</include>

</launch>
