<!-- UAV: all nodes that launch on UAV (jetson) -->
<launch>

    <!-- vim: set ft=xml noet : -->
    <arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="uav_id" default="1" />
    <arg name="machine_name" default="Quad1" />

    <param name="image_transport" type="string" value="compressed" />

    <node pkg="machine_vision" type="stereo_driver" name="stereo_cam" machine="$(arg machine_name)" />

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"
         ns="stereo_cam" machine="$(arg machine_name)" respawn="true" />

    <node pkg="gcs" type="backup_control" name="backup_control"
          machine="$(arg machine_name)" respawn="true">
    </node>

    <!-- todo node object avoidance-->

    <include file="$(find gcs)/launch/px4_single_gazebo.launch">
        <arg name="fcu_url1" value="udp://localhost:14540@" />
        <arg name="gcs_url1" value="" />
        <arg name="tgt_system1" value="1" />
        <arg name="tgt_component1" value="1" />
        <arg name="log_output1" value="screen" />
    </include>

</launch>
