<launch>
    <arg name="uav_id" default="1"/>
    <arg name="gcs_machine" default="Station1"/>
    <arg name="robot_machine" default="Quad1"/>

    <machine name="$(arg gcs_machine)"
             address="localhost" />

    <machine name="$(arg robot_machine)"
             address="$(arg robot_machine)"
             default="true"
             user="ubuntu"
             password="ubuntu"
             env-loader="$HOME/lcar-bot-files/lcar_env.sh" />


    <include file="$(find machine_vision)/launch/node_object_detection.launch" >
        <arg name="machine_name" value="$(arg gcs_machine)" />
    </include>

    <include file="$(find gcs)/launch/jetson.launch" >
        <arg name="tgt_system" value="$(arg uav_id)" />
        <arg name="uav_id" value="$(arg uav_id)" required="true" />
        <arg name="machine_name" value="$(arg robot_machine)" />
    </include>

    <!--<include file="$(find gcs)/launch/gcs.launch"/>-->

</launch>
