<!-- GCS: all nodes that launch on GCS -->
<launch> 

    <!--<node pkg="gcs" type="safe_mocap" name="safe_mocap" machine="$(env HOSTNAME)" required="true"/> -->

   <!-- <include file="$(find vrpn_client_ros)/launch/sample.launch">
                      <arg name="server" value="MocapServer" />
    </include> -->

</launch>