
body {
background-color: rgb(27, 32, 45);
color: rgb(236, 236, 236);
}

#mapholder {
  border-radius: 5px;
}

select {
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

input {
  width: 30px;

}
